html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
  background-color: #000;
  color: #8a9c22;
  transition: all 2s ease;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1 {
  display: inline-block;
  font-size: 7rem;
}

.slider-wrapper {
	position: relative;
  width: 554px;
  margin: 0 auto;  
}

.slider {
  width: 554px;
  height: 554px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.slides {
  height: 554px;
  width: 554px;
	max-height: 554px;
	max-width: 554px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 { 
  background-image: url(assets/mem-img-1.jpg); 
}

.slide2 { 
  background-image: url(assets/mem-img-2.jpg); 
}

.slide3 { 
  background-image: url(assets/mem-img-3.jpg); 
}

.slide4 { 
  background-image: url(assets/mem-img-4.jpg); 
}

.slider-wrapper > input {
	display: none;
}

.text {
  position: relative;
  font-size: 4rem;
  display: flex;
  width: 60%;
  overflow: hidden;
}

.text-slide {
  display: none;
  z-index: 1;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .controls-wrapper .text .text-slide1,
#slide2:checked ~ .controls-wrapper .text .text-slide2,
#slide3:checked ~ .controls-wrapper .text .text-slide3,
#slide4:checked ~ .controls-wrapper .text .text-slide4  {
  display: block;
  z-index: 10;
}

.controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 554px;
  margin: 0 auto;
}

.controls {
  display: flex;
  align-items: center;
	height: 10vh;
	position: relative;
}

.controls label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
	cursor: pointer;
	height: 50px; 
	width: 50px;
	position: relative;
  /* transition: background ease-in-out .5s; */
}

.controls label > span {
  display: block;
  border: 3px solid blue;
  background: blue;
	height: 20px;
	width: 20px;	
	border-radius: 50%;
}


#slide1:checked ~ .controls-wrapper .controls .label-1 span,
#slide2:checked ~ .controls-wrapper .controls .label-2 span,
#slide3:checked ~ .controls-wrapper .controls .label-3 span,
#slide4:checked ~ .controls-wrapper .controls .label-4 span {
	background: transparent;
  border: 3px solid blue;
}

#slide1:checked ~ .controls-wrapper .controls .label-1:hover span,
#slide2:checked ~ .controls-wrapper .controls .label-2:hover span,
#slide3:checked ~ .controls-wrapper .controls .label-3:hover span,
#slide4:checked ~ .controls-wrapper .controls .label-4:hover span {
	background: transparent;
  border: 3px solid #fff;
}

#slide1:active ~ .controls-wrapper .controls .label-1 span,
#slide2:active ~ .controls-wrapper .controls .label-2 span,
#slide3:active ~ .controls-wrapper .controls .label-3 span,
#slide4:active ~ .controls-wrapper .controls .label-4 span {
	background: gray;
  border: 3px solid gray;
}

label:hover span {
  background: #fff;
  border: 3px solid #fff;
}


.slides {
	display: none;
	z-index: 1;
	transition: transform ease-in-out .5s, display ease-in-out .5s;
}


#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4 {
	display: block;
	z-index: 10;
}


@media (max-width: 1150px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 4px;
  }

  .slider-wrapper,
  .controls-wrapper {
    width: 454px; 
  }
  
  .slider {
    width: 454px;
    height: 454px;
  }
  
  .slides {
    height: 454px;
    width: 454px;
    max-height: 454px;
    max-width: 454px;
  }
}

@media (max-width: 500px) {

  .slider-wrapper,
  .controls-wrapper {
    width: 354px; 
  }
  
  .slider {
    width: 354px;
    height: 354px;
  }
  
  .slides {
    height: 354px;
    width: 354px;
    max-height: 354px;
    max-width: 354px;
  }
}